<html lang="fr">
  <head>
    <title>TESTS VMI</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous" />
  </head>
  <body>
    <h1 class="text-center mb-5">GENERATEUR DE DATAS (UUID / EMAIL / NOM)</h1>
    <div class="text-center">
      <form action="/" method="post">
        <input
          type="submit"
          class="btn btn-primary btn-lg"
          value="cliquer ici pour générer 1 million d'entrées" />
      </form>
    </div>
  </body>
</html>
